*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	}
ul{list-style: none;}
a{text-decoration: none;}
img{border: none;}
.header{
	width: 100%;
	height: 60px;
	background-color: #3c3c3c;
	}
.nav{
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	}
.hdnav ul{
	display: flex;
	position: absolute;
	right: 30px;
	top: 0;
	} 
.hdnav ul a{
	display: block;
	font-size: 22px;
	padding: 15px 11px;
	color: white;
	}
.hdnav ul a:hover{
	background-color: #5a5a5a;
	}
#mc{
	font-size: 34px;
	font-family: 思源宋体,黑体;
	margin-left: 40px;
	color: white;
	}
.menu{
	width: 34px;
	border: 1px solid #eee;
	border-radius: 3px;
	cursor: pointer;
	float: right;
	margin: 10px;
	display: none;
	}
.menu i{
	display: block;
	width: 24px;
	height: 2px;
	background: #eee;
	margin: 6px auto;
	}
.top{
	width: 100%;
	height: 480px;
	margin: 0 auto;
	background-image: url(images/主.jpg);
	background-size: cover;
	}
.wenzi{
	width: 50%;
	height: 150px;
	margin: 0 auto;
	padding-top: 180px;
	}
.wenzi img{
	margin-bottom: -30px;
	height: 100px;
	}
.wenzi p{
	text-align: center;
	font-size: 54px;
	font-family: 方正兰亭粗黑;
	color: white;
	padding-top: 10px;
	}
.sousuokuang{
	width: 70%;
	height: 80px;
	margin: 0 auto;
	padding-top: 30px;
	}
.sousuokuang input{
	width: 100%;
	height: 60px;
	background: url(images/sousuo.jpg) no-repeat right;
	color: white;
	border: solid 1px #cccccc;
	font-size: 20px;
	}
#denglu{
	padding: 10px;
	background-color: #3eb977;
	color: white; 
	text-decoration: none;
	font-size: 24px;
	}
#denglu:hover{
	background-color: #349461; 
	}
.TJ{}
.tuijian{
	width: 100%;
	text-align: center;
	padding-top: 80px; 
	margin: 0 auto;
	font-size: 26px;
	}
.tuijian1{
	width: 100%;
	text-align: center;
	padding-top: 80px; 
	margin: 0 auto 0 auto;
	font-size: 26px;
	}
.chengshi{
	width: 100%;
	height: 360px;
	padding-top: 50px; 
	padding-bottom: 100px;
	}
.DZ{
	width: 62%;
	margin: 0 auto;
	height: 46px;
	justify-content: space-between;
	display: flex; 
	align-items: center;
	padding: 6px 0;
	}
.DZ p{
	font-size: 24px;
	color: black;
	}
.DZ ul{
	display: flex;
	position: absolute;
	right: 16%;
	}
.DZ ul a{
	font-size: 18px;
	color: #b3b0b0;
	padding: 0 7px;
}
#lianjie:hover{
	color: #28b76c;
	}
.bottom{
	width: 100%;
	height: 376px;
	background-color: #3c3c3c;
	color: #939393;
	}
.zuo{
	font-family: 宋体;
	padding-top: 90px;
	}
.wangzhan{
	float: left;
	padding-left: 80px;
	}
#dyh{
	margin-bottom: 12px;
	font-size: 18px;
	}
.wangzhan p{
	margin-bottom: 8px;
	text-align: left;
	}
.guanyu{
	float: left;
	padding-left: 60px;
	}
.guanyu p{
	margin-bottom: 12px;
	font-size: 18px;
	}
.guanyu a{
	display: block;
	color: #939393;
	padding-bottom: 4px;
	}
.guanyu a:hover{
	color: white;
	}
.fuwu{
	width: 80px;
	float: left;
	padding-left: 60px;
	}
.fuwu p{
	margin-bottom: 12px;
	font-size: 18px;
	}
.fuwu a{
	color: #939393;
	padding-bottom: 4px;
	}
.fuwu a:hover{
	color: white;
	}
.you{
	padding-top: 46px;
	display: block;
	position:absolute;
	right:100px;
	}
.you a{
	color: white;
	font-size: 62px;
	font-family: 思源宋体;
	}
#yazhou{}
#ouzhou{}
#feizhou{}
#beimeizhou{}
#nanmeizhou{}
.jingdian{
	padding-top: 80px;
	display: flex; 
	justify-content: space-around; 
	width:80%; 
	margin:0 auto;
	}
.jingdian a{
	width:23.5%; 
	background:#f2f2f2; 
	border-radius: 6px; 
	overflow: hidden; 
	color:#333; 
	position: relative; 
	top:0; 
	transition: 0.3s;
	}
.jingdian a:hover{
	top:-5px; 
	box-shadow: 0 5px 30px rgba(16,97,238,0.1);
	}
.jingdianPic img{
	width: 100%;
	}
.jingdianTxt{ padding:30px 25px;}
.jingdianTxt h2{ font-size:23px; color:#111; padding-bottom:18px;}
.jingdianTxt  p{ font-size:13px; color:#777; text-align: justify; min-height: 75px; padding-bottom: 5px;}



/* **********移动端适配********** */
@media (max-width: 996px){
	.jingdian{ 
		display: flex; 
		justify-content:space-between; 
		flex-wrap: wrap; 
		width:100%; 
		margin:0 auto; 
		padding: 50px 20px; 
		box-sizing: border-box;
		}
	.jingdian a{width:49%;transition: 0.3s;margin-bottom:10px;}
	.wangzhan{padding-left: 30px;}
	.guanyu{padding-left: 30px;}
	.fuwu{padding-left: 30px;}
	.TJ{padding-bottom: 15px;}
	.tuijian{	padding-top: 0;}
	.top{background-size: 100% no-repeat;display: block;}
	.wenzi{padding-top: 170px;}
	.wenzi img{height: 60px;}
	.wenzi p{display: block;font-size: 28px;margin-top: 20px;}
	.menu{display: block;}
	.hdnav{display: none;}
	.hdnav ul{flex-direction: column; position: absolute;top: 60px;right: 0;width: 100%;text-align: center;background-color: #3c3c3c;}
	.hdnav li a{line-height: 16px;} 
	.menu i{transform-origin: left;transition: 0.3s}
	.menu.active i:nth-child(1){transform: rotate(24deg);width: 30px}
	.menu.active i:nth-child(2){opacity: 0}
	.menu.active i:nth-child(3){transform: rotate(-24deg);width: 30px}
	#mc{font-size: 28px}
	.chengshi{width: 100%;padding-top: 34px;padding-bottom: 70px;}
	.DZ{display: block;width: 100%;padding: 16px 0;}
	.DZ p{text-align: center;padding: 3px 0;}
	.DZ ul{display: block;text-align: center;position: static;}	
	.bottom{height: auto;}
	.you{position:static;}
	.you a{font-size: 34px;}
	.sousuokuang{height: 60px;padding-bottom: 20px}
	.sousuokuang input{height: 50px;background: url(images/sousuo.jpg) no-repeat right;background-size: 90px 50px;font-size: 18px;}
	}
